absl-py==0.10.0
adabound==0.0.5
ase==3.21.1
astroid==2.4.2
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
blessings==1.7
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
future==0.18.2
gensim==3.7.2
googledrivedownloader==0.4
gpustat==0.6.0
grpcio==1.32.0
h5py==3.1.0
idna==2.10
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1612212922137/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
isodate==0.6.0
isort==5.7.0
jedi==0.17.0
jieba==0.39
Jinja2==2.11.2
joblib==1.0.0
jsonlines==2.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1612213308260/work
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
littleutils==0.2.2
llvmlite==0.35.0
Markdown==3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
networkx==2.6.2
numba==0.52.0
numpy==1.19.5
nvidia-ml-py3==7.352.0
ogb==1.2.6
outdated==0.2.0
pandas==1.2.1
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.1.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.13.0
psutil==5.8.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
Pygments @ file:///tmp/build/80754af9/pygments_1610565767015/work
pylint==2.6.0
pyparsing==2.4.7
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-louvain==0.15
pytz==2020.5
pyzmq==20.0.0
rdflib==5.0.0
requests==2.25.1
sacremoses==0.0.45
scikit-fuzzy==0.4.2
scikit-learn==0.23.2
scipy==1.6.0
seaborn==0.11.1
six @ file:///tmp/build/80754af9/six_1605205313296/work
smart-open==4.1.2
tensorboard==1.15.0
threadpoolctl==3.0.0
tokenizers==0.10.3
toml==0.10.2
torch==1.6.0
torch-cluster==1.5.9
torch-geometric==1.6.3
torch-scatter==2.0.6
torch-sparse==0.6.9
torch-spline-conv==1.2.1
torchsummary==1.5.1
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm==4.56.0
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typed-ast==1.4.2
typing-extensions==3.10.0.0
urllib3==1.26.2
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
Werkzeug==1.0.1
wrapt==1.12.1
